
#project-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;  
}

.project {
  margin: 1rem;
  padding: 1rem;
  height: 200px;
  width: 200px;
  border: 1px solid #ce8e40;
  text-align: center;
}

.toggle {
  display: block;
  user-select: none;
}

.toggle:hover {
  cursor: pointer;
}

.checked {
  color: #fff;
}

.unchecked {
  color: grey;
}

.toggle input[type="checkbox"] {
  display: none;
}

.visible {
  visibility: visible;
  transition: visibility 0s linear 0s, opacity 300ms;  
}

.hidden {
  visibility: hidden;
  transition: visibility 0s linear 300ms, opacity 300ms;  
}