@import url('https://fonts.googleapis.com/css?family=Martel');

body {
  margin: 0 auto;
  font-family: 'Martel', 'Times New Roman', Times, serif;
}

main {
  margin-top: 60px;
}

footer {
  /* position: fixed; */
  margin-top: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 940px;
}

nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.right {
  float: right;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}