@import url('https://fonts.googleapis.com/css?family=Martel');

body {
  margin: 0 auto;
  padding: 1rem;
  font-family: 'Martel', 'Times New Roman', Times, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}