
.container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tile {
  /* margin: 1rem; */
  margin: 10px;
  height: 280px;
  width: 280px;
  border-radius: 3px;
  text-align: center;
  overflow: scroll;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.tile:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}